@import "reset.css";
.btn-group {
    margin: 10em 0 2em 0
}

#carouselOne, #carouselTwo {
    border-radius:5px;
    border:2px lightgray solid;
    width:50%;
    margin-top:30px;
}

.card {
    margin:.5em 10em;
}

.card-img-top{
    border:3px silver solid;
}
