@import url('https://fonts.googleapis.com/css?family=Quicksand');


body {
    font-family: 'Quicksand', sans-serif;
}

a {
    cursor: pointer;
}

.header {
    background: #FFD60A;
    color: white;
    background-size: cover;
    background-position: bottom;
    height: 50em
}

.bg {
    background: transparent;
}

.header .hero {
    margin-top: 80px;
    margin-bottom: 100px;
}

.header .hero h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}


.header .hero p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

/*Barre de navigation*/

.nav-item .nav-link{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px;
}

.nav-link:hover {

    color: #FF9D00;
}

.dark-blue-text {
    color: blue;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../image/menu.svg");

}
.searchFilter {
    height: 20vh;
    margin: auto;
    width: 100%;
    /*padding-top: 50px ;*/
}

.searchFilter .input-group {
    width: 70%;
    margin: auto;
}

/*.input-group input {*/
    /*border-radius: 10px;*/
/*}*/
.searchFilter.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 16px;
    border-radius: 1rem;
    height: 50px;
    min-width: 20px;
}

.searchFilter .btn-search {
    background-color: #FF9D00;
    color: #fff;
    border: solid #FF9D00;
}
.searchFilter .btn-search:hover {
    background-color: #ffc33b;
    color: #fff;
    border: solid #FFC33B;
}
.search-logo {
    width: 25px;
    height: 25px;
}
.btn .btn-outline-light {
    color: #ffc33b;
}

.form-control {
    border-radius: 50px;
    height: 50px;
}




/*@media screen and (max-width: 767px) {*/

    /*.header .hero{*/
        /*margin-top: 40px;*/
        /*margin-bottom: 40px;*/
    /*}*/

    /*.header .hero h1{*/
        /*font-size: 42px;*/
    /*}*/
/*}*/
